<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mtvindia.connect"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.Read_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.Read_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.mtvindia.connect.permission.C2D_MESSAGE"/>

    <permission
        android:name="com.mtvindia.connect.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:name=".app.MtvConnectApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1480373608933513"
            android:exported="true"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullyTranslucent"/>
        <activity
            android:name=".ui.activity.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RedTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.WalkThroughActivity"
                  android:theme="@style/RedTheme"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/RedTheme"/>
        <activity
            android:name=".ui.activity.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f958711af2adab120a830dc232e2b390687662cc"/>
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="@string/cleverId"/>
        ;
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="@string/cleverToken"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <receiver
            android:name=".ui.custom.pushNotification.OneSignalBroadCastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.BackgroundBroadcast.RECEIVE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".services.XmppReciever">
            <intent-filter>
                <action android:name="com.mtvindia.connect.newmessage"/>
                <action android:name="com.mtvindia.connect.newroster"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".services.SmackService"
            android:enabled="true"
            android:exported="true">
        </service>

    </application>

</manifest>
